.BottomFooter{
    display: grid;
    grid-template-columns: 23%;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

.icon_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}